<header>
  <mat-button-toggle-group [(ngModel)]="button">
    <mat-button-toggle value="1">All</mat-button-toggle>
    <mat-button-toggle value="2">You</mat-button-toggle>
  </mat-button-toggle-group>
</header>
<p>* Shows only the top 10</p>
<section class="leaderboard">
  <table
    mat-table
    [dataSource]="button === '1' ? allRecords : userRecords"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let element">
        {{ element.user.username | uppercase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="flips">
      <th mat-header-cell *matHeaderCellDef>Flips</th>
      <td mat-cell *matCellDef="let element">{{ element.flips }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
