section.info {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: flex-end;
}

section.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section.restart {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.message {
  color: blue;
}

section.unauth {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
