header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
}

section.left {
  margin-left: 20px;
}

section.right {
  margin-right: 20px;
}
