<header>
  <section class="left">
    <button mat-button color="primary" routerLink="/">Home</button>
    <button mat-button color="primary" routerLink="/game">Game</button>
    <button mat-button color="primary" routerLink="/leaderboard">
      Leaderboard
    </button>
    <button mat-button color="primary" routerLink="/admin">Management</button>
  </section>
  <section class="right" *ngIf="!user">
    <button mat-button color="primary" (click)="openRegisterDialog()">
      Register
    </button>
    <button mat-button color="primary" (click)="openLoginDialog()">
      Login
    </button>
  </section>
  <section class="right" *ngIf="user">
    <button mat-button color="primary" [matMenuTriggerFor]="menu">
      Welcome, {{ user.username | uppercase }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item routerLink="/" (click)="logout()">Logout</button>
    </mat-menu>
  </section>
</header>
