<div class="info">
  <p><strong>ID:</strong> {{ user._id }}</p>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Encoded Password:</strong> {{ user.password }}</p>
</div>
<div class="update" [formGroup]="updateUsernameForm">
  <mat-form-field appearance="fill">
    <mat-label>New Username</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>
  <button
    mat-button
    color="primary"
    (click)="clickUpdateUsername()"
    [disabled]="!updateUsernameForm.valid"
  >
    Update Username
  </button>
</div>
<div class="update" [formGroup]="updatePasswordForm">
  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>
  <button
    mat-button
    color="primary"
    (click)="clickUpdatePassword()"
    [disabled]="!updatePasswordForm.valid"
  >
    Update Password
  </button>
</div>
<div class="delete">
  <button mat-stroked-button color="warn" (click)="clickDelete()">
    Delete User
  </button>
</div>
