<div class="flip-card" (click)="flip()">
  <div class="flip-card-inner" [class.flipped]="card.flipped">
    <div class="flip-card-back">
      <svg
        width="169.075"
        height=" 244.64"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <use [attr.href]="backLink" fill="red" />
      </svg>
    </div>
    <div class="flip-card-front" [class.matched]="card.matched">
      <svg
        width="169.075"
        height=" 244.64"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <use [attr.href]="frontLink" />
      </svg>
    </div>
  </div>
</div>
