<h1 mat-dialog-title>Register</h1>
<div class="content" mat-dialog-content [formGroup]="registerForm">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
      required
      (keyup.enter)="register()"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      required
      (keyup.enter)="register()"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="password2"
      required
      (keyup.enter)="register()"
    />
  </mat-form-field>
</div>
<div class="actions" mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close (click)="register()">
    Register
  </button>
</div>
